@model course.Models.EventParticipant

@{
    ViewData["Title"] = "Добавить участника мероприятия";
    var eventsSelectList = ViewBag.Events as SelectList;
    var usersSelectList = ViewBag.Users as SelectList;
}

<h1>Добавить участника мероприятия</h1>

<h4>Участник мероприятия</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="IdEvent" class="control-label">Мероприятие</label>
                <select asp-for="IdEvent" class="form-control" asp-items="@eventsSelectList">
                    <option value="">-- Выберите мероприятие --</option>
                </select>
                <span asp-validation-for="IdEvent" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="IdUser" class="control-label">Пользователь</label>
                <select asp-for="IdUser" class="form-control" asp-items="@usersSelectList">
                    <option value="">-- Выберите пользователя --</option>
                </select>
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ParticipationStatus" class="control-label"></label>
                <input asp-for="ParticipationStatus" class="form-control" />
                <span asp-validation-for="ParticipationStatus" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}