@{
    ViewData["Title"] = "О нас";
}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">@ViewData["Title"]</h1>
            <p class="lead text-center">Добро пожаловать в BoardClassic — ваш путеводитель в мир настольных игр!</p>

            <p>
                Данный сайт является дипломным проектом, разработанным в рамках дипломной практики в Полоцком государственном экономическом колледже.
                Основная цель проекта — предоставить удобное и функциональное пространство для любителей настольных игр, где они могут находить информацию,
                обмениваться мнениями, следить за событиями и общаться с единомышленниками.
            </p>
            <p>
                Краткое содержание:
                <ul>
                    <li><strong>База данных настольных игр:</strong> Подробная информация о популярных и новых настольных играх, которую будут пополнять пользователи.</li>
                    <li><strong>Система постов и рейтинга:</strong> Возможность публиковать посты и оценивать их.</li>
                    <li><strong>Раздел мероприятий:</strong> Информация о предстоящих игровых вечерах, турнирах и встречах.</li>
                    <li><strong>Пользовательские профили:</strong> Страницы пользователей, где пользователи могут отслеживать свой рейтинг.</li>
                    <li><strong>Фозможности социального взаимодействия:</strong> Чаты и комментарии для живого общения между участниками сообщества.</li>
                </ul>
            </p>
            <p>
                Проект выполнен с использованием платформы ASP.NET Core MVC, Entity Framework Core для работы с базой данных, а также Bootstrap и пользовательских CSS-стилей для дизайна.
            </p>
        </div>
    </div>
</div>
