@model course.Models.Comment

@{
    ViewData["Title"] = "Редактировать комментарий";
}

<h1>Редактировать комментарий</h1>

<h4>Комментарий</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdComment" />
            <input type="hidden" asp-for="IdPost" />
            <input type="hidden" asp-for="IdUser" />
            <input type="hidden" asp-for="CreationDate" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.IdPost">Вернуться к посту</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}